<div>
    <div class="page-header">
        <h1>{{titlePageTest}}</h1>
    </div>

    <div class="row">
        <div ng-show="isNewTest()">
            <div class="col-md-6">
                <label for="testName" class="required">{{'TEST_NAME' | translate}}:</label>&nbsp;
                <input type="text" id="testName" ng-model="testName">   
            </div>
            <div class="col-md-6">
                <select id="courses" ng-model="selectedCourse" ng-change="loadRegisteredStudents()">
                    <option value="0"> --- {{'TEST_LABEL_SELECT_COURSE' | translate}} --- </option>
                    <option ng-repeat="course in courses" value="{{course.id}}" >
                        {{course.number}}:&nbsp;{{course.name}}
                    </option>      
                </select>    
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-hide="isNewTest()">
            <div class="col-md-6">
                <h3>{{'TEST_FORM_LABEL_COURSE_NAME' | translate}}: </h3>
            </div>
            <div class="col-md-6">
                <h3>
                    <span class="label label-default">{{courseName}}</span>
                </h3>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div ng-show="studentList.length">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'TEST_STUDENT_FIRST_NAME' | translate}}</th>
                            <th>{{'TEST_STUDENT_LAST_NAME' | translate}}</th>
                            <th>{{'TEST_STUDENT_GRADE' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in studentList"  class="vcenter-datas">
                           <td>{{student.first_name}}</td>
                           <td>{{student.last_name}}</td>
                           <td>
                               <input type="text" name="grade" ng-model="student.grade">
                           </td>
                        </tr>    
                    </tbody>
                </table>
            </div>
            <div ng-show="!studentList.length">
                {{'TEST_LABEL_NO_STUDENT_FOR_THIS_COURSE' | translate }}
            </div>
        </div>

        <div >
            <button type="button" class="btn btn-lg btn-primary" ng-click="saveTest()" ng-disabled="isNotValidTest()">{{'TEST_FORM_SAVE_TEST' | translate}}</button>
            &nbsp;
            <button type="button" class="btn btn-lg btn-primary" ng-click="cancelTest()">{{'TEST_FORM_TEST_CANCEL' | translate}}</button>  
        </div>




    </div>




</div>