<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
 
    <div class="container-fluid" style="heigth: 100%">
        <div class="row">
        <!-- 1st column -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 form-group required">
                        <label class="control-label"  for="firstName">{{'STUDENT_FIRST_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-6">
                        <input type = "text" style="width: 100%; " id="firstName" ng-model="student.firstName"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group required">
                        <label class="control-label"  for="lastName">{{'STUDENT_LAST_NAME' | translate}}</label>
                    </div>
                    <div class="col-md-6">
                        <input type = "text" style="width: 100%; " id="lastName" ng-model="student.lastName"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"><label for="registeredFor">{{'STUDENT_REGISTERED_FOR' | translate}}:</label></div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <select id="registeredFor" style="width: 100%; height: 150px;" ng-model="registered_courses" multiple>
                            <option ng-repeat="course in existingCourses | filter:{take_course:'Y'} " value="{{course.id}}" >
                                {{course.number}}:&nbsp;{{course.name}}
                            </option>      
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-default" type="button" style="width: 100%;" ng-click="ok()">
                            {{'STUDENT_POPUP_OK' | translate}} 
                        </button>
                    </div>
                    <div class="col-md-6"><button class="btn btn-lg btn-default" type="button" style="width: 100%;" ng-click="cancel()">{{'STUDENT_POPUP_CANCEL' | translate}}</button></div>
                </div>
            </div>

            <!-- 2nd column-->
            <div class="col-md-1">
                <div class="Align">
                    <div class="Align-item">
                        <button class="btn btn-lg btn-default" type="button" style="width: 100%; text-align: center; padding-right: 24px" ng-click="takeCourse()"><</button>
                        <button class="btn btn-lg btn-default" type="button" style="width: 100%;  text-align: center; padding-right: 24px" ng-click="leaveCourse()">></button>
                    </div>
                </div>
            </div> 

            <!-- 3rd column -->
            <div class="col-md-5">
                <div class="row" style="height: 100%">
                    <div class="col-md-12"><label for="courses">{{'STUDENT_AVAILABLE_COURSES' | translate}}:</label></div>
                </div>
                <div class="row" style="height: 100%">
                    <div class="col-md-12">
                        <select multiple id="courses" style="width: 100%; height: 252px;" ng-model="not_registered_courses">
                            <option ng-repeat="course in existingCourses | filter:{take_course:'N'} " value="{{course.id}}" >
                                {{course.number}}:&nbsp;{{course.name}}
                            </option>                                                                                 
                        </select>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="modal-footer"></div>